
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #D9AE5F;
}
header h1{
    color: #fff;
}

nav ul{
    list-style: none;
    
    display: flex;
    margin-top:10px ;
    display:flex ;
    justify-content: space-between;
}
nav ul li {
    background-color: #D99923;
   /* padding: 0px 60px ; */
   width: 20%;
   margin-left: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform:capitalize;
    color:#fff;
}

.container-fluid .btn{
    background: #261501;
    color: #D9D9D9;
    padding: 10px 0px;
}
footer{
    background: #D99923 ;
    color:white ;
    font-weight: 500;
}


